@page "/basics"
@inject IStyled Styled

<Styled @bind-Classname="@example1">
    background-color: hotpink;
</Styled>

<h1>The Basics</h1>

<p>
    Blazor Styled allows you to define your CSS rules within your razor component. Calling <code>IStyled.Css(string css)</code> inserts the CSS rules into a dynamically
    created stylesheet in the DOM and returns the class name.
    Calling <code>IStyled.Css</code> again with the same CSS rules (order does not matter) will return the same class name.
</p>

<p>Below is an a simple example of turning a div background hotpink:</p>

<div class="@example1">The background of this div is hotpink</div>

<PrettyCode CodeFile="_content/SampleCore/basic1.html" />

<p>Because your CSS is embedded in your C# code you can you use variables inside of your CSS:</p>

<button @onclick="@(x => click(" red"))">Make the paragraph red</button>

<button @onclick="@(x => click(" hotpink"))">Make the paragraph hotpink</button>

<p class="@example2">The background of this paragraph will change color depending on the button pressed above</p>

<p>Note that if you keep clicking on the buttons, the CSS classes are reused.</p>

<PrettyCode CodeFile="_content/SampleCore/basic2.html" />

<h3>Using predefined class names</h3>

<p>
    Sometimes you may need to use a specific class name or html element (Selector).
    Call <code>IStyled.Css(string className, string css)</code> to define css rules with a specific selector.
    For example, the code below is from <code>NavMenu.razor</code> to sample project. It sets a class for the menu on the left of the website which uses <code>NavLink</code>.
    <code>NavLink</code> in turn sets the classname <code>active</code>, therefore the code below uses the selector <code>active</code>.
</p>

<PrettyCode CodeFile="_content/SampleCore/basic3.html" />

<p>Another usage is to set classes on html elements, for example in <code>MainLayout.razor</code> the code below sets a class on some html elements:</p>

<PrettyCode CodeFile="_content/SampleCore/basic4.html"  />

@code {
    private string example1, example2;

    protected void click(string color)
    {
        example2 = Styled.Css($"background-color: {color};");
        StateHasChanged();
    }
}
