@page "/labels"

<Styled @bind-Classname="div1">
    color: hotpink;
    label: some-name;
</Styled>

<Styled @bind-Classname="@div2" Id="some-id">
    label: another-name;
    color: lightgreen;
</Styled>

<Heading>Labels</Heading>

<Paragraph>You can append a label to the end of the css class name using adding <code>label: name;</code> to your css, 
    so it's more readable than a hash. This can be helpful in debugging your styles.</Paragraph>

<div class="@div1">@div1</div>

<div class="@div2">@div2</div>

<PrettyCode CodeFile="_content/SampleCore/labels1.html" HighlightLines="3,7" />

@code {
    private string div1, div2;
}