@page "/media"
@inject IStyled Styled

<Styled @bind-Classname="@p1">
    font-size: 30px;
    @@media (min-width: 480px) {
        font-size: 50px;
    }
</Styled>

<Styled @bind-Classname="@p3" MediaQuery="MediaQueries.Mobile">
    color: red;
</Styled>

<h1>Media Queries</h1>

<p>Using media queries in BlazorStyled works just like using media queries in regular css except you don’t have to specify a selector inside the block, 
    you can put your css directly in the css block.</p>

<p class="@p1">Some text!</p>
<PrettyCode CodeFile="_content/SampleCore/media1.html" />

<h3>Alternate Syntax</h3>

<p>Depending on your preferred style, the above can also be achieved with:</p>

<PrettyCode CodeFile="_content/SampleCore/media4.html" />

<h3>Predefined Media Queries</h3>

<p>BlazorStyled comes with some common media queries pre-defined:</p>

<p class="@p3">This paragraph will be red on a mobile phone</p>

<PrettyCode CodeFile="_content/SampleCore/media3.html" />

<h3>Reusable Media Queries</h3>

<p>Media queries can be useful to create responsive apps but repeating them is annoying and can lead to inconsistencies. 
    Instead of rewriting them each time you use them, you can move them into constants and refer to the variable each time you want to use them like this:</p>

<p class="@p2">Some other text!</p>

<PrettyCode CodeFile="_content/SampleCore/media2.html" />


@code {
    private string p1, p2, p3;

    private int[] breakpoints = new int[] { 576, 768, 992, 1200 };

    protected override void OnInitialized()
    {
        var mq = (from b in breakpoints
                  select $"@media (min-width: {b}px)").ToArray();

        p2 = Styled.Css($@"
            color: green;
            {mq[0]} {{
              color: gray;
            }}
            {mq[1]} {{
              color: hotpink;
            }}
        ");
    }
}