@page "/motivation"

<h1>Motivation</h1>

<Styled @bind-Classname="@ul">
    margin-top: 20px;
    padding-left: 20px;
</Styled>


<ul class="@ul">
    <li>Maintain your css inside your component instead of a seperate file</li>
    <li>Eliminate all collisions - no need to use !important</li>
    <li>No need to worry about depoying css files - great for libraries</li>
    <li>css are C# strings - use variables instead of solutions like sass</li>
</ul>

<h3>Inspiration</h3>

<ul class="@ul">
    <li><a href="https://emotion.sh/docs/introduction">Emotion</a></li>
    <li><a href="https://glamorous.rocks/">Glamorous</a></li>
    <li><a href="https://github.com/threepointone/glamor">Glamor</a></li>
</ul>

<h3>Videos</h3>
<ul class="@ul">
    <li>Video created by <a href="https://github.com/DataJuggler">@@DataJuggler</a>: <a href="https://youtu.be/frtetHgfdIo">https://youtu.be/frtetHgfdIo</a></li>
</ul>

<h3>Companion Projects</h3>

<ul class="@ul">
    <li>BlazorCss: <a href="https://github.com/tomlm/BlazorCss">https://github.com/tomlm/BlazorCss</a> - Adds intellisense to Css rules to Styled tags created by <a href="https://github.com/tomlm">@@tomlm</a></li>
    <li>BlazorPrettyCode <a href="https://github.com/chanan/BlazorPrettyCode">https://github.com/chanan/BlazorPrettyCode</a> - CSHtml source code component for Blazor documentation (used on this site)</li>
    <li>BlazorTypography <a href="https://github.com/chanan/BlazorTypography">https://github.com/chanan/BlazorTypography</a> - Sets up some basic typography styles for making awesomly readble sites (used on this site)</li>
</ul>

@code {
    private string ul;
}
