@inject IStyled Styled

    <nav>
        <h3>Getting Started</h3>
        <ul class="@ul">
            <li>
                <NavLink class="@link" href="" Match="NavLinkMatch.All">
                    Introduction
                </NavLink>
                <NavLink class="@link" href="motivation">
                    Motivation
                </NavLink>
                <NavLink class="@link" href="install">
                    Install
                </NavLink>
                <NavLink class="@link" href="serverside">
                    Server Side Blazor
                </NavLink>
                <NavLink class="@link" href="basics">
                    The Basics
                </NavLink>
                <NavLink class="@link" href="nested">
                    Nested Selectors
                </NavLink>
                <NavLink class="@link" href="googlefonts">
                    Google Fonts
                </NavLink>
            </li>
        </ul>
        <h3>Advanced</h3>
        <ul class="@ul">
            <li>
                <NavLink class="@link" href="fonts">
                    Font Faces
                </NavLink>
                <NavLink class="@link" href="media">
                    Media Queries
                </NavLink>
                <NavLink class="@link" href="keyframes">
                    Keyframes
                </NavLink>
                <NavLink class="@link" href="theming">
                    Theming
                </NavLink>
                <NavLink class="@link" href="labels">
                    Labels
                </NavLink>
            </li>
        </ul>
        <h3>How To</h3>
        <ul class="@ul">
            <li>
                <NavLink class="@link" href="polished">
                    Polished.net
                </NavLink>
                <NavLink class="@link" href="buttonexample">
                    Reusable Components
                </NavLink>
            </li>
        </ul>
    </nav>

@code {
    private string ul;
    private string link;

    protected override async Task OnInitAsync()
    {
        ul = await Styled.Css(@"
            display: inline-flex;
            list-style: none;
            padding-inline-start: 0px;
        ");

        link = await Styled.Css(@"
            display: block;
            font-size: 24px;
            font-weight: 300;
            color: #1B1D1D;
            text-decoration: none;
            margin: 0;
            font-size: 16px;
            padding-top: 6px;
            padding-bottom: 6px;
            padding-left: 0;
            padding-right: 0;
            &:hover {
                color: #C865B9;;
            }
        ");

        await Styled.Css(".active", @"
            color: #D36AC2;
            font-size: 16px;
            padding-top: 6px;
            padding-bottom: 6px;
            padding-left: 0;
            padding-right: 0;
        ");
    }
}