@page "/"

<Styled @bind-Classname="@grey">
    label: grey;
    background-color: grey;
</Styled>

<Styled @bind-Classname="@bigFont">
    label: big-font;
    font-size: 50px;
</Styled>

<Styled @bind-Classname="@div" Compose1="@grey" Compose2="@bigFont" Compose2If="@_showBig" />

<Styled Classname="@div" PseudoClass="PseudoClasses.Hover">
    color: red;
</Styled>

<Styled Classname="@div" MediaQuery="MediaQueries.Mobile">
    background-color: hotpink;
</Styled>

<div class="@div">
    This is a test
</div>

<button @onclick="@onclick">Toggle Font Size</button>


@code {
    private string div, grey, bigFont;
    private bool _showBig = false;

    private void onclick()
    {
        _showBig = !_showBig;
    }
}