@page "/"

<Styled @bind-Classname="@navColumn" MediaQuery="MediaQueries.LargerThanTablet">
    label: nav-column;
    flex-shrink: 0;
    position: fixed;
    width: 225px;
</Styled>

<Styled @bind-Classname="@mainColumn" MediaQuery="MediaQueries.LargerThanTablet">
    width: 876px;
    margin-left: 225px;
</Styled>

<div class="@navColumn">@navColumn</div>

<div class="@mainColumn">@mainColumn</div>

@code {
    private string navColumn, mainColumn;
}